

h1 {
  font-size: 25px;
  font-family: Tahoma;
  text-align: center;
}


ul.pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    cursor: pointer;

    display: inline-block;
    padding: 5px;

    min-width: 30px;
    height: 20px;
    text-align: center;

    &:hover {
      border-top: 2px solid #cc0033;
      background: #cc0033;
    }


  }
  li.currentPage {
    border-top: 2px solid #cc0033;

  }


}






.pokemon-table {
  font-family: Tahoma;
  width: 80%;
  margin: 10px auto;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #cc0033;

  img:hover {
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}



.tableDiv {
    display: table;
    width: 100%;


}

.trDiv {
    display: table-row;

    &:first-child, &:first-child:hover .tdDiv {
      background: #cc0033;
      cursor: auto;
      color: white;
    }

    &:hover .tdDiv {
      cursor: pointer;
      background: #f3f3f3;
    }

}
.tdDiv {
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;

  a {
    text-decoration: none;
    color: black;

  }

}






@keyframes rotation {
    0%   {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg); /* IE 9 */
      -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
      transform: rotate(360deg);
  }
}
